@charset "UTF-8";

body {
    position: relative;
}

section#campo1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.paragrafo_select {
    text-align: center;
    font-size: 1em;
    color: white;
    font-weight: bolder;
    margin-bottom: 10px;
}

section#campo1 > div#dcurso {
    margin-bottom: 15px;
}

section#campo1 > div#dcurso > select#curso {
    display: block;
    margin: auto;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 0.9em;
    font-weight: bolder;
    color: #009045;
    box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.267);
}

section#campo1 > div#dcurso > select#curso:focus {
    outline: 0;
}

section#campo1 > div#ddisciplina > select#disciplina {
    display: block;
    margin: auto;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 0.9em;
    font-weight: bolder;
    color: #009045;
    box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.267);
    margin-bottom: 10px;
}

section#campo1 > div#ddisciplina > select#disciplina:focus {
    outline: 0;
}

div#info {
    margin-bottom: 70px;
}

#p_list_regimes {
    color: #ffffff;
    text-align: center;
    text-decoration: underline;
    margin: 10px;
}
#p_list_regimes:hover {
    color: #8ce5b7;
    cursor: pointer;
}

#tb_regimes{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
}
.tb_regimes_tr{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #009045;
    margin: 5px;
}
.tb_regimes_tr_td {
    padding: 5px;
}

.botao_regimes {  
    width: 100px;
    height: 20px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    background-color: white;
    text-decoration: none;
    box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.267);
    color: #009045;
}
.botao_regimes:hover {
    color: #ffffff;
    background-color: #2ca969;
    cursor: pointer;
}

.botao {
    display: block;
    margin: auto;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: white;
    text-decoration: none;
    box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.267);

    color: #009045;
    font-weight: bolder;
    font-size: 1em;
    text-decoration: none;
}
.botao:hover {
    background-color: #2ca969;
    color: #ffffff;
    cursor: pointer;

}